.u-section-1 .u-sheet-1 {
  min-height: 929px;
}

.u-section-1 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: 126px auto 0 17px;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  margin: -47px 131px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 4px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 84px 235px 0 26px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 17px 26px 0;
}

.u-section-1 .u-text-3 {
  margin: 23px 25px 0;
}

.u-section-1 .u-text-4 {
  margin: 39px 25px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 325px 0 25px;
  padding: 15px 61px 17px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 620px;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 30px 21px;
}

.u-section-1 .u-image-1 {
  width: 458px;
  height: 458px;
  background-image: url("images/location.png");
  background-position: 50% 50%;
  margin: 44px auto 0 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 52px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 1.25rem;
    margin-top: -41px;
    margin-right: 8px;
    padding: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-right: 115px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-right: -54px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 81px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 255px;
    margin-left: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-top: 53px;
    margin-right: -56px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 149px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -43px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 17px;
    margin-bottom: -121px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 925px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 162px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -492px;
    margin-bottom: -556px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 93px;
    margin-right: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 853px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -291px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 806px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 232px;
  margin-bottom: -112px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 686px;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-2 .u-text-1 {
  margin: 6px auto 0 83px;
}

.u-section-2 .u-group-1 {
  min-height: 383px;
  height: auto;
  background-image: none;
  width: 570px;
  margin: 72px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 25px;
  padding-right: 25px;
}

.u-section-2 .u-group-elements-1 {
  width: 511px;
  min-height: 48px;
  height: auto;
  margin: 38px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 0 0 60px;
}

.u-section-2 .u-icon-1 {
  width: 38px;
  height: 38px;
  margin: -43px 473px 5px 0;
  padding: 0;
}

.u-section-2 .u-group-elements-2 {
  width: 504px;
  min-height: 96px;
  height: auto;
  margin: 100px auto 0 0;
}

.u-section-2 .u-icon-2 {
  width: 38px;
  height: 38px;
  margin: 10px 466px 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: -48px 0 0 53px;
}

.u-section-2 .u-image-1 {
  min-height: 686px;
  background-image: url("images/MapwithClickCoordinates_2.png");
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 117px;
    margin-bottom: 3px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    margin-top: 54px;
    height: auto;
  }

  .u-section-2 .u-group-elements-1 {
    width: 420px;
    min-height: 72px;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -55px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-group-elements-2 {
    width: 420px;
  }

  .u-section-2 .u-image-1 {
    min-height: 566px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 310px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 310px;
  }

  .u-section-2 .u-image-1 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 673px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 424px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1196px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 374px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 683px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 135px 60px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 153px 183px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 683px;
  background-image: url("images/MapwithClickCoordinates-GoogleChrome10-05-202412_00_03.png");
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 262px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
    width: auto;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 228px;
    margin-right: 83px;
  }

  .u-section-3 .u-image-1 {
    min-height: 563px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-3 .u-image-1 {
    min-height: 647px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 407px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 503px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 597px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 48px 13px 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0 13px;
  padding: 14px 54px 14px 53px;
}

.u-section-4 .u-image-1 {
  width: 112px;
  height: 112px;
  margin: -32px auto 0 184px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 489px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: -183px;
    margin-left: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-4 .u-image-1 {
    width: 96px;
    height: 96px;
    margin-top: -21px;
    margin-left: 195px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 398px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 304px;
}

.u-section-5 .u-text-1 {
  margin: 0 776px 0 22px;
}

.u-section-5 .u-social-icons-1 {
  height: 35px;
  min-height: 16px;
  width: 125px;
  min-width: 68px;
  margin: 36px auto 60px 22px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 598px;
    margin-left: 0;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 44px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}